@import "@material/textfield/mdc-text-field";

.mat-text-field-icon-container {
  position: absolute;
  right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

/* Hide clear button from edge */
.mat-hide-clearbutton::-ms-clear {
  width: 0;
  height: 0;
}

/* Fix Full Width padding issues */
label.mdc-text-field.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 10px 16px 6px;
}

label.mdc-text-field--fullwidth-with-trailing-icon:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 10px 0 6px 0 !important;
}

label.mdc-text-field--fullwidth-with-leading-icon:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 10px 16px 6px 0 !important;
}

label.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) > span.mdc-floating-label{
  display:inline;
}

.mat-floating-label--float-above-outlined {
  background-color: var(--mdc-theme-surface, #fff) !important;
}

/* For TextField */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary, #6200ee);
}

/* Label color to theme primary color */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary, #6200ee);
}

/* For Select */
